<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="../assets/noBgLogin.png"
            class="img-fluid" alt="Sample image">
        </div>


        <div class="card" style = "padding: 20px;">
          <form #loginForm = "ngForm" (ngSubmit) = "login(loginForm)"> 
            
            <input type = "text"
            ngModel
            name = "userName"
            id = "userName"
            placeholder = "Enter your username"
            class = "form-control"
            >

            <input type = "password"
            ngModel
            name = "userPassword"
            id = "userPassword"
            placeholder = "Enter your username"
            class = "form-control"
            >

            <input type = "submit"
            value="Login"
            class = "btn btn-primary"
            >
  
          </form>
        </div>
      </div>
    </div>
 
  </section>