
<body>

<ngb-carousel>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img style="width: 100vw;     height: 610px;" src="../assets/ad2.gif" alt="Random first slide" />
        </div>
        <div class="carousel-caption">
            <h1 id="p1">Unleash the Beast</h1>
            <p class="par">within you.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img style="width: 100vw;     height: 610px;" src="../assets/ad1.jpg" alt="Random second slide" />
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img style="width: 100vw;     height: 610px;" src="../assets/ad3.gif" alt="Random third slide" />
        </div>
    </ng-template> 
</ngb-carousel>

<!--ecommerce card html here--> 
<section class="section-products">
    <div class="container">
            <div class="row justify-content-center text-center">
                    <div class="col-md-8 col-lg-6">
                            <div class="header">
                                    <h3>Featured Product</h3>
                                    <h2>Popular Products</h2>
                            </div>
                    </div>
            </div>
            <div class="row">
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-1" class="single-product">
                                    <div class="part-1">
                                        <img src="../assets/download.jpg" alt="">
                                            <ul>
                                                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-expand"></i></a></li>
                                            </ul>
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-title">Manfinity LEGND Men</h3>
                                            <h4 class="product-old-price">₱779.99</h4>
                                            <h4 class="product-price">₱549.99</h4>
                                    </div>
                            </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-2" class="single-product">
                                    <div class="part-1">
                                        <img src="../assets/download.jpg" alt="">
                                            <span class="discount">15% off</span>
                                            <ul>
                                                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-expand"></i></a></li>
                                            </ul>
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-title">Here Product Title</h3>
                                            <h4 class="product-price">₱00.0</h4>
                                    </div>
                            </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-3" class="single-product">
                                    <div class="part-1">
                                        <img src="../assets/download.jpg" alt="">
                                            <ul>
                                                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-expand"></i></a></li>
                                            </ul>
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-title">Here Product Title</h3>
                                            <h4 class="product-old-price">₱00.0</h4>
                                            <h4 class="product-price">₱00.0</h4>
                                    </div>
                            </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-4" class="single-product">
                                    <div class="part-1">
                                            <span class="new">new</span>
                                            <ul>
                                                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-expand"></i></a></li>
                                            </ul>
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-title">Here Product Title</h3>
                                            <h4 class="product-price">₱00.0</h4>
                                    </div>
                            </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-1" class="single-product">
                                    <div class="part-1">
                                            <ul>
                                                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-expand"></i></a></li>
                                            </ul>
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-title">Here Product Title</h3>
                                            <h4 class="product-old-price">₱00.0</h4>
                                            <h4 class="product-price">₱00.0</h4>
                                    </div>
                            </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-2" class="single-product">
                                    <div class="part-1">
                                            <span class="discount">15% off</span>
                                            <ul>
                                                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-expand"></i></a></li>
                                            </ul>
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-title">Here Product Title</h3>
                                            <h4 class="product-price">₱00.0</h4>
                                    </div>
                            </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-3" class="single-product">
                                    <div class="part-1">
                                            <ul>
                                                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-expand"></i></a></li>
                                            </ul>
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-title">Here Product Title</h3>
                                            <h4 class="product-old-price">₱00.0</h4>
                                            <h4 class="product-price">₱00.0</h4>
                                    </div>
                            </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-4" class="single-product">
                                    <div class="part-1">
                                            <span class="new">new</span>
                                            <ul>
                                                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-expand"></i></a></li>
                                            </ul>
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-title">Here Product Title</h3>
                                            <h4 class="product-price">₱00.0</h4>
                                    </div>
                            </div>
                    </div>
            </div>
    </div>
</section>


        <!-- Skills -->
        <section id="skills" class="section-2 odd highlights image-right counter skills featured">
            <br><br>
                <div class="divMain container">
                    <div class="container c1 text">
                        <h1 class="text"> Techknowlogy Stack Used:</h1>
                        <br>
                        <ul class="category" id="t1">
                            <li>Backend Techknowlogy
                              <ul class="subcategory">
                                <li>Java</li>
                                <li>Spring Boot</li>
                              </ul>
                            </li>
                            <li>Frontend Techknowlogy
                              <ul class="subcategory">
                                <li>Angular</li>
                              </ul>
                            </li>
                            <li>Database Techknowlogy
                              <ul class="subcategory">
                                <li>MySQL</li>
                              </ul>
                            </li>
                          </ul>     
                    </div>
                    <div class=" image">
                        <img src="../assets/about-5.webp" class="fit-image" alt="Fit Image">
                    </div>
                </div>
                <br><br>
        </section>

<!--         
<section class="s1">
    <br><br>
  
<div class="container">

   <h1 id="p2"> EMPLOYEE MANAGEMENT SYSTEM</h1> 
    <br><br>
<div class="navigation">
    <div class="card" style="width: 18rem;">
        <img src="../assets/download.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Employee List</h5>
          <p class="card-text">list of all Employees</p>
          <a routerLink="/show-all-employees"  class=" btn btn-primary">Employee List</a>

        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <a ng-click="goToEmployeeList()" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>    
      </div>
</div>
  <br><br>

</section > -->

<!--Testimonials-->
<div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="face front-face">
                        <img src="https://images.unsplash.com/photo-1557862921-37829c790f19?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80"
                            alt="" class="profile">
                        <div class="pt-3 text-uppercase name">
                            Robert Garrison
                        </div>
                        <div class="designation">Android Developer</div>
                    </div>
                    <div class="face back-face">
                        <span class="fas fa-quote-left"></span>
                        <div class="testimonial">
                            I made bacck the purchase price in just 48 hours! Thank you for making it pain less,
                            pleasant.
                            The service was execellent. I will refer everyone I know.
                        </div>
                        <span class="fas fa-quote-right"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="face front-face">
                        <img src="https://images.unsplash.com/photo-1600486913747-55e5470d6f40?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                            alt="" class="profile">
                        <div class="pt-3 text-uppercase name">
                            Jeffery Kennan
                        </div>
                        <div class="designation">Full Stack Developer</div>
                    </div>
                    <div class="face back-face">
                        <span class="fas fa-quote-left"></span>
                        <div class="testimonial">
                            Really good, you have saved our business! I made bacck the purchase price in just 48 hours!
                            man, this thing is getting better and better as I learn more about it.
                        </div>
                        <span class="fas fa-quote-right"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="face front-face">
                        <img src="https://images.unsplash.com/photo-1614574762522-6ac2fbba2208?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjY2fHxtYW58ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                            alt="" class="profile">
                        <div class="pt-3 text-uppercase name">
                            Issac Maxwell
                        </div>
                        <div class="designation">Finance Director</div>
                    </div>
                    <div class="face back-face">
                        <span class="fas fa-quote-left"></span>
                        <div class="testimonial">
                            Account keeper is the most valuable business research we have EVER purchased. Without
                            electrician, we would ahave gone bankrupt by now.
                        </div>
                        <span class="fas fa-quote-right"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

<section class="about ">
    <br><br>
    <div class="container">
<div class="about-section">
    <h1>About Us Page</h1>
    <br>
    <!-- <p>Some text about who we are and what we do.</p> -->
    <p>Effectively and systematically manage and document the pertinent details and information of your employees to ensure a thorough and accurate record-keeping system within your organizational framework.</p>
  </div>
  <br><br>
  <h2 style="text-align:center">Our Team</h2>
  <br><br>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Cristobal Genrey O.</h2>
          <p class="title">Full Stack</p>
          <p>Time is gold.</p>
          <p>genreycristobal03@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Perez Christian O.</h2>
          <p class="title">Full Stac</p>
          <p>Gold is time.</p>
          <p>christiannn.perez@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="column">
        <div class="card">
          <div class="container">
            <h2>Balmes Ma. Allyza C.</h2>
            <p class="title">Full Stac</p>
            <p>Time is time.</p>
            <p></p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="container">
            <h2>Sandoval Shunne Gabriel</h2>
            <p class="title">Full Stack</p>
            <p>Time.</p>
            <p>shunne.sandoval@gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Bolivar Jhon Emerwin M.</h2>
          <p class="title">Full Stack</p>
          <p>Gold</p>
          <p>jhon.emerwin05@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br><br><br>