<div class="container3">
    <div class="row">
        <div class="column">
            <p align="left">Delivery Information</p>
        </div>
        
    </div>
</div>
<div class="delivery_head">
    <form action="" class="checkout">
        <div class="row">
            <div class="column2">
                <p align="left"> Customer Name</p>
                <p align="left"> • Contact Number</p>
                <p align="left"> • Email Address</p>
            </div>
            <div class="column">
                <input type="text" id = "name" name = "name">
                <br>
                <input type="number" id = "number" name = "number">
                <br>
                <input type="email" id = "email" name = "email">
                
            </div>
        </div>
    </form>
</div>



<div class="container3">
    <div class="row">
        <div class="column">
            <label for="product_name">Product/Store Name</label>
            <p></p>
        </div>
    </div>
</div>

<div class="container2">
    <div class="row">
        <div class="column">
            <label for="product_name">Product/Store Name</label>
        </div>
        <div class="column1">
            <p align="left">P 1,000</p>
        </div>
        <div class="column1">
            <p align="left">2</p>
        </div>
        <div class="column1">
            <p align="left">P 2,000</p>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <label for="product_name">Product/Store Name</label>
        </div>
        <div class="column1">
            <p align="left">P 1,000</p>
        </div>
        <div class="column1">
            <p align="left">2</p>
        </div>
        <div class="column1">
            <p align="left">P 2,000</p>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <label for="product_name">Product/Store Name</label>
        </div>
        <div class="column1">
            <p align="left">P 1,000</p>
        </div>
        <div class="column1">
            <p align="left">2</p>
        </div>
        <div class="column1">
            <p align="left">P 2,000</p>
        </div>
    </div>
</div>

    <div class="container4">
        <div class="row">
            <div class="column1">
            </div>
            <div class="column1">
            </div>
            <div class="column1">
            </div>
            <div class="column1">
            </div>
            <div class="column1">
                <p>Shipping Fee & Method:</p>
            </div>
            <div class="column1">
                <p>P 40 - COD</p>
            </div>
            <div class="column1">
                <p>Merchandise SubTotal:</p>
            </div>
            <div class="column1">
                <p>4 Items</p>
            </div>
            <div class="column1">
                <p>P 4,000</p>
            </div>
            <div class="column1">
                <button class="button button1">Place Order!</button>
            </div>
        </div>
    </div>
