
<br>

<div class="container">

<h3>Employee Details</h3>
<br>
<div class="box">

  <div class="box">
    <div class="profile-picture-container">
      <img src="../assets/download.jpg" class="profile-picture">
      <div id="change-profile-pic">
        <div id="change-profile-pic" onclick="document.getElementById('file-input').click();"></div>
        <i class="fas fa-pencil-alt"></i>
        <input type="file" id="file-input" style="display: none;" />
      </div>
    </div>

<div >
    <table  class=" table table-striped  border-dark  ">
        <thead class=" table-dark">
        <tr>
          <th  >Attribute</th>
          <th  >Value</th>
        </tr>

    </thead>

    <tbody>
    <tr>
          <td><b>Username: </b></td>
          <td>{{userAuthService.getUsername}}</td>
        </tr>
        <tr>
          <td><b>Role:</b></td>
          <td>{{userAuthService.getRoles}}</td>
        </tr>

    </tbody>
      </table>

      <a routerLink="/updating-by-id/{{employee.id}}" id="btn1"class="btn btn-secondary">Update Details</a>
      <a routerLink="/show-all-employees" id="btn2" class="btn btn-danger">Back</a>
</div>

</div>

</div>
