<div class="container">
    <div class="filter-section">
        <br>
        <h2>Filter</h2>
        <div class="filter-option">Vegetables</div>
        <div class="filter-option">Canned Goods</div>
        <div class="filter-option">Condiments</div>
        <div class="filter-option">Meat</div>
        <div class="filter-option">Sea Food</div>
        

        <br><br><br>
        <h3>Rating</h3>
        <div class="rating-option">5 Stars</div>
        <div class="rating-option">4 Stars</div>
        <div class="rating-option">3 Stars</div>
        <div class="rating-option">2 Stars</div>
        <div class="rating-option">1 Stars</div>
    </div>

    <div class="card-container">
        <div class="card">
            <img src="assets/skibidi.jpg" alt="Ninja 1 Image" class="card-image">
            <h5>Skibidi Emer</h5>
            <p>Emer, but he's Skibidi</p>
        </div>

        <div class="card">
            <h5>Ninja 2</h5>
            <p>Nig 2.</p>
        </div>
        <div class="card">
            <h5>Ninja 3</h5>
            <p>Nig 3.</p>
        </div>
        <div class="card">
            <h5>Ninja 3</h5>
            <p>Nig 3.</p>
        </div>
        <div class="card">
            <h5>Ninja 3</h5>
            <p>Nig 3.</p>
        </div>
        <div class="card">
            <h5>Ninja 3</h5>
            <p>Nig 3.</p>
        </div>
        <div class="card">
            <h5>Ninja 3</h5>
            <p>Nig 3.</p>
        </div>
        <div class="card">
            <h5>Ninja 3</h5>
            <p>Nig 3.</p>
        </div>
        <div class="card">
            <h5>Ninja 3</h5>
            <p>Nig 3.</p>
        </div>
        <div class="card">
            <h5>Ninja 3</h5>
            <p>Nig 3.</p>
        </div>
        <div class="card">
            <h5>Ninja 3</h5>
            <p>Nig 3.</p>
        </div>
        <div class="card">
            <h5>Ninja 3</h5>
            <p>Nig 3.</p>
        </div>
         
    </div>
</div>
