<div class="container3">
    <div class="row">
        <div class="column">
            <p align="left">Product</p>
        </div>
        <div class="column1">
            <p align="left">Unit Price</p>
        </div>
        <div class="column1">
            <p align="left">Quantity</p>
        </div>
        <div class="column1">
            <p align="left">Total Price</p>
        </div>
        <div class="column1">
            <p align="left">Action</p>
        </div>
    </div>
</div>


<div class="container3">
    <div class="row">
        <div class="column">
            <input type="checkbox" value="product_name" class="Lcheckbox" />
            <label for="product_name">Product/Store Name</label>
            <p></p>
        </div>
        <div class="column1">
            <p align="left"></p>
        </div>
        <div class="column1">
            <p align="left"></p>
        </div>
        <div class="column1">
            <p align="left"></p>
        </div>
        <div class="column1">
            <p align="left"></p>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <input type="checkbox" value="product_name" class="Lcheckbox" />
            <label for="product_name">Product/Store Name</label>
        </div>
        <div class="column1">
            <p align="left">P 1,000</p>
        </div>
        <div class="column1">
            <p align="left">2</p>
        </div>
        <div class="column1">
            <p align="left">P 2,000</p>
        </div>
        <div class="column1">
            <p align="left">add/delete</p>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <input type="checkbox" value="product_name" class="Lcheckbox" />
            <label for="product_name">Product/Store Name</label>
        </div>
        <div class="column1">
            <p align="left">P 1,000</p>
        </div>
        <div class="column1">
            <p align="left">2</p>
        </div>
        <div class="column1">
            <p align="left">P 2,000</p>
        </div>
        <div class="column1">
            <p align="left">add/delete</p>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <input type="checkbox" value="product_name" class="Lcheckbox" />
            <label for="product_name">Product/Store Name</label>
        </div>
        <div class="column1">
            <p align="left">P 1,000</p>
        </div>
        <div class="column1">
            <p align="left">2</p>
        </div>
        <div class="column1">
            <p align="left">P 2,000</p>
        </div>
        <div class="column1">
            <p align="left">add/delete</p>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <input type="checkbox" value="product_name" class="Lcheckbox" />
            <label for="product_name">Product/Store Name</label>
        </div>
        <div class="column1">
            <p align="left">P 1,000</p>
        </div>
        <div class="column1">
            <p align="left">2</p>
        </div>
        <div class="column1">
            <p align="left">P 2,000</p>
        </div>
        <div class="column1">
            <p align="left">add/delete</p>
        </div>
    </div>
</div>

<div>
    <div class="container4">
        <div class="row">
            <div class="column">
            </div>
            <div class="column1">
                <p>Sub Total</p>
            </div>
            <div class="column1">
                <p>4</p>
            </div>
            <div class="column1">
                <p>P 4,000</p>
            </div>
            <div class="column1">
                <button class="button button1">Checkout!</button>
            </div>
        </div>
    </div>
</div>